// $colors: (
//     neutral: (
//         light: white,
//         normal: grey,
//         dark: black,
//     ),
//     primary: (
//         light: lightblue,
//         normal: blue,
//         dark: darkblue,
//     ),
//     secondary: (
//         light: lightgreen,
//         normal: green,
//         dark: darkgreen,
//     ),
// );

$colors: (
    neutral: (
        100: #fff,
        200: #e4e4e4,
        400: #5c5c5c,
        900: #212121,
    ),
    primary: (
        400: #FF6635,
        500: #dd4e11,
    ),
);
