$sizes: (
    8: 0.5rem,
    12: 0.75rem,
    16: 1rem,
    20: 1.25rem,
    24: 1.5rem,
    32: 2rem,
    36: 2.25rem,
    48: 3rem,
);

$hero-padding: clamp(15rem, 15vh, 16rem);   // max 256px
$section-padding: clamp(3rem, 10vh, 7rem);  // max 112px

$container-inline-padding: 1rem;
$container-max-width: 70rem;                // 1120px
$container-max-width-wide: 90rem;           // 1440px

$card-body-padding: clamp(2rem, 4vw, 5rem); // 80px

$grid-gap: 1.5rem;                          // 24px
$flex-group-gap: 1rem;