@use '../abstracts/' as *;

.button {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $fw-700;
    line-height: 1;
    border: 0;
    padding: 1.125em 2em;
    transition: 275ms ease;

    // justify-self: center;

    &[data-type="accent"] { // kann auch mit zum Beispiel einer Utilitie-Klasse gelöst werden (&--inverted)
        background-color: getColor(primary, 400);
        color: getColor(neutral, 900);
    }

    &[data-type="outline"] {
        --outline-size: 5px;
        
        background: transparent;
        outline: var(--outline-size) solid getColor(neutral, 100);
        outline-offset: calc(var(--outline-size) * -1);
        color: getColor(neutral, 100);
    }

    &:is(:hover, :focus) {
        background: getColor(neutral, 100);
        color: getColor(neutral, 900);
    }
}