@use '../abstracts/' as *;

.primary-navigation {

    --flex-column-gap: #{getSize(48)};
    --flex-row-gap: #{getSize(16)};

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: getColor(neutral, 100);
        font-family: $ff-accent;
        font-size: getFs(600);

        &:is(:hover, :focus) {
            opacity: .7;
            text-decoration: underline;
        }
    }
}